*{margin: 0;padding: 0;}
body,html{width: 100%;height: 100%;overflow: hidden;}

input[id='login_phone']::-webkit-input-placeholder {
    color:#808080;
    font-size: 14px;
}
input[id='login_phone']::-moz-placeholder{
    color:#808080;
    font-size: 14px;
}
.login_box{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: url(../img/bj.png);
	background-size:100% ;
}
.login_box .back{
	position: absolute;
	left: 0.3rem;
	top: 0.3rem;
	width: 0.32rem;
	height: 0.32rem;
}
.login_box .logo{
	width: 250px;
	/*height: 85px;*/
	/*border-radius: 50%;*/
	/*background: #7d47ee;*/
	position: absolute;
	left: 35%;
	margin-left: -80px;
	top:1.19rem;
	/*color: #fff;*/
	text-align: center;
	line-height: 85px;
	z-index: 100;
}
#logo{
				width: 100%;
				vertical-align: middle;
			}
#login_form{
	width: 6.6rem;
	height: 190px;
	background: #fff;
	border-radius:5px ;
	/*margin: 2.65rem 0 0 0.3rem;*/
	padding-top: 10px;
	margin-top: 220px;
	margin-left: 15px;
}
#login_form .mui-input-group{
	width: 5.6rem;
	margin-left: 0.64rem;
	font-size: 14px;
	color: #808080;
	position: relative;
}
#login_form .mui-input-group li.mui-input-row{
	height: 35px;
}
#login_form .mui-input-group input.mui-input-clear{
	font-size: 14px;
	padding-left: 5px;
	padding-top: 12px;
	color: #333;
}
#login_form .mui-input-group .mui-input-row span{
	font-size: 15px;
	top: 15px;
}
#login_btn{
	display: block;
	width: 50%;
	height: 40px;
	background: #524598;
	color: #fff;
	outline: none;
	margin-top: 26px;
	margin-left: 25%;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	font-size: 14px;
}
#login_form ul img{
	width: 18px;
	height: 19px;
	position: absolute;
	left: -18px;
	top: 12px;
}
#login_form .check_box{
	width: 6.05rem;
	margin-left: 0.3rem;
	margin-top: 15px;
}
#login_form .check_box .left{
	float: left;
}
#login_form .check_box .right{
	float: right;
}
#login_form .check_box div span{
	display: inline-block;
	font-size:12px ;
	line-height: 12px;
	float: left;
	color: #666666;
}
#login_form .check_box div p{
	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
}
#login_form .check_box div p span.mui-icon-checkmarkempty{
	display: inline-block;
	font-size: 24px;
	margin-left: -5px;
}
.login_box .word{
	color: #fff;
	font-size: 15px;
	position: absolute;
}
.login_box span.forgetPwd{
	left: 1.2rem;
	/*bottom: 0.8rem;*/
	margin-top: 100px;
}
.login_box span.newRegister{
	right: 1rem;
	/*bottom: 0.8rem;*/
	margin-top: 100px;
	
}
div.mui-toast-container{
	top: 4.3rem;
	width: 70%;
	
}
div.mui-toast-container .mui-toast-message{
	background: #000;
	height: 45px;
	opacity: 0.9;
	line-height: 25px;
	filter:alpha(opacity=90);
}
#login_form .mui-input-group:before{
	height: 0;
}