<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>批量点检</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/Home.css" />
		<script src="../js/url_all.js"></script>
		<script src="../js/jquery-1.11.3.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/rem.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/more_cheack.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/pagination.css" />
	</head>

	<body bgcolor="white">
		<div class="main">
			<header id="header" class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">点检</h1>
				<!--<h5 class="mui-pull-right" onclick="javascript:window.location.href='Config.html'">设置</h5>-->
				<div class="top">
					<div class="left">
						<div class="mui-checkbox mui-left">
							<label>全选</label>
							<input name="checkbox1" value="Item 1" type="checkbox" id="checkAll">
							<span class="equipmentBianhao">设备编号</span>
							<select name="" id="select">
								<option value="2">已点检设备</option>
								<option value="1">未点检设备</option>
								<option value="0" selected="selected">所有设备</option>
							</select>
						</div>
					</div>
				</div>
			</header>
			<div class="mui-content">
				<div class="center">
					<ul class="mui-table-view">
					</ul>
				</div>
				<br />
				<ul class="pagination" id="pagination-demo1"></ul>

			</div>
			<!--content结束-->
			<div class="mui-bar mui-bar-footer">
				<button id="moreCheack_btn" type="button">批量点检</button>
			</div>
			<!--<div id="moreCheack_btn">
				批量点检
			</div>-->
		</div>
	</body>
	<script src="../js/jquery.pagination.js" type="text/javascript" charset="UTF-8"></script>
	<script type="text/javascript">
		function detailBtnClicked(e) {
			localStorage.DeveciId = e;

			mui.openWindow({
				url: '../DeviceDetail.html',
				id: 'info',
				createNew: true
			});
		}
		//		mui.plusReady(function() {

		$("header a").click(function() {
			history.go(-1)
		})

		function loadInitData(pageNum, size, keyType) {

			$.ajax({
				type: "get",
				url: commen_search_device_Interface,
				async: true,
				data: {
					strLoginId: localStorage.getItem("strLoginId"),
					strLoginToken: localStorage.getItem("strLoginToken"),
					startRecords: pageNum,
					pageSize: size,
					ck_status: keyType,
					company_id: localStorage.getItem("company_id"),
					region_id_list: localStorage.getItem("region_id_list")
				},
				dataType: 'json',
				success: function(res) {
					console.log(JSON.stringify(res))
					if(res.status == "SUCCESS") {
						currPage = pageNum;
						//							createPages(res.data.total_records);
						createNewPages(res.data.total_records);
						//写一遍数据
						appendLi(res.data);
					} else {
						alert(res.message)
					}
				}
			});
		}

		//  初始化 加载10条设备信息，
		loadInitData(0, 10)

		//一个加载不同数据的函数
		function loadDiffetentType(pageNum, size, keyType) {
			$.ajax({
				type: "get",
				url: commen_search_device_Interface,
				async: true,
				data: {
					strLoginId: localStorage.getItem("strLoginId"),
					strLoginToken: localStorage.getItem("strLoginToken"),
					startRecords: pageNum,
					pageSize: size,
					ck_status: keyType,
					company_id: localStorage.getItem("company_id"),
					region_id_list: localStorage.getItem("region_id_list")
				},
				dataType: 'json',
				success: function(res) {
					console.log(JSON.stringify(res))
					if(res.status == "SUCCESS") {
						currPage = pageNum;
						//写一遍数据
						appendLi(res.data);
					} else {
						alert(res.message)
					}
				}
			});
		}

		//			定义一个写数据,添加li的函数
		function appendLi(res) {
			$(".center ul li").remove()
			length = res.search_list.length;
			for(var i = 0; i < length; i++) {
				var listTemp = res.search_list[i];
				var str = '<li class="mui-table-view-cell mui-media">';
				str += '<div class="mui-checkbox mui-left">';

				if(listTemp.ck_status == 1 | listTemp.ck_status == undefined) {

					str += '<input name="checkbox1" value="Item 1" type="checkbox">';

				} else if(listTemp.ck_status == 2) {

					str += '<input name="checkbox1" value="Item 1" type="checkbox" disabled="disabled">';

				};

				console.log(listTemp.min_photo_url)

				if(listTemp.min_photo_url == undefined) {
					str += '<a><img class="mui-media-object mui-pull-left" src="../img/default.png">';

				} else {
					str += '<a><img class="mui-media-object mui-pull-left" src=' + listTemp.min_photo_url + '>';
				}

				str += '<div class="mui-media-body"><span >' + listTemp.devices_name + '</span>';
				//获取下来的标签，1是未点检，2是已点检
				//					console.log( listTemp.ck_result)
				if(listTemp.ck_status == undefined) {
					str += '<div class="tag">' + "未点检" + '</div>'
				} else if(listTemp.ck_status == 0) {
					str += '<div class="tag">' + "已点检" + '</div>'
				};

				str += "<p class='mui-ellipsis'>";

				if(listTemp.devices_no != undefined) {
					str += '<span class="items">' + '设备编号：' + '<span class="devices_no">' + listTemp.devices_no + '</span></span>';
				}
				if(listTemp.devices_no == undefined) {
					str += '<span class="items">' + '设备编号：' + '----' + '</span>';
				}
				if(listTemp.devices_model != undefined) {
					str += '<span class="items">' + '设备型号：' + listTemp.devices_model + '</span>';
				}
				if(listTemp.devices_model == undefined) {
					str += '<span class="items">' + '设备型号：' + '----' + '</span>';
				}
				if(listTemp.work_status != undefined) {
					if(listTemp.work_status == 0) {
						str += '<span class="items">' + "工作状态：正常" + '</span>';
					} else if(listTemp.work_status == 1) {
						str += '<span class="items">' + "工作状态：待维护" + '</span>';

					} else { //2 待维修
						str += '<span class="items">' + "工作状态：待维护" + '</span>';

					}

				}
				if(listTemp.work_status == undefined) {
					str += '<span class="items">' + '工作状态：' + '----' + '</span>';
				}

				if(listTemp.work_shop != undefined) {
					str += '<span class="items">' + '工作车间：' + listTemp.work_shop + '</span>';
				}
				if(listTemp.work_shop == undefined) {
					str += '<span class="items">' + '工作车间：' + '----' + '</span>';
				}
				str += '<span class="items" style="width:100%">预期寿命：' + '<div style="background-color:red;margin-top:-20px;width:100px" id="demo' + i + '"' + 'class="mui-progressbar pro"><span></span></div>' + '</span>';
				str += '<input type="button" class="detail"  onclick="detailBtnClicked(this.id)" value="详情>>"';
				str += 'id=' + listTemp.devices_no + '></input>';
				str += '</p></div></a></div></li>';
				var oli = $(str);
				if(listTemp.devices_age != undefined) { //有设备年龄那个字段
					var num = listTemp.devices_age;
					num = num - 100;
					oli.find("#demo" + i).find("span").css("transform", "translate(" + num + "%)")
				} else { //没有设备年龄字段，直接按默认100 全满显示
					oli.find("#demo" + i).find("span").css("transform", "translate(0)")

				}

				oli.attr("id", listTemp.devices_no)

				$(".center ul").append(oli);
			}

		} //写数据结束

		//全选
		$("#checkAll").click(function() {
			var checknodes = $('.center ul li').find(':checkbox');
			var checkstatus = $(this).is(':checked');
			if(checkstatus) {
				checknodes.prop('checked', 'checked');
			} else {
				checknodes.prop('checked', checkstatus);
			}
		}) //全选框结束

		//下拉框
		$("#select").change(function() {
			$("#checkAll").attr('checked', false);
			$("#pagination-demo1 .paginationjs").remove();
			container = undefined;
			loadInitData(0, 10, $('#select').val())
		})

		function createNewPages(totalNumber) {
			$('#pagination-demo1').pagination(totalNumber, {
				load_first_page: false,
				callback: PageCallback, //PageCallback() 为翻页调用次函数。
				prev_text: "« 上一页",
				next_text: "下一页 »",
			})
		}

		function PageCallback(page_index) {
			console.log("==== " + page_index);

			var strRecords = page_index * 10;
			loadDiffetentType(strRecords, 10, $("#select").val())

			return false;
		}
		
		//点击按钮进行点检
		$("#moreCheack_btn").click(function() {

			var strUserType = localStorage.getItem("userType");
			console.log(strUserType)
			if(strUserType < 10 && localStorage.getItem('is_manage') != '1') {
				mui.toast("您的权限不足，不能进行点检");
			}
			if(strUserType > 10 || localStorage.getItem('is_manage') == '1') {
				var allID = "";
				var allID_Array = [];
				$('.center ul li').find(':checkbox').each(function() {
					if($(this).is(":checked") & $(this).attr("disabled") != "disabled") {
						console.count()
						allID_Array.push($(this).parent().find(".devices_no").text())
					}
				}) //遍历结束
				allID = allID_Array.join(",");
				//allID为处理完的字符串
				console.log(allID)
				var checkTime = new Date().Format("yyyy-MM-dd hh:mm:ss");
				if(allID != "") {

					$.ajax({
						type: "get",
						url: commen_check_device_Interface,
						async: false,
						data: {
							devices_no_list: allID,
							ck_remark: "正常",
							ck_name: plus.storage.getItem("userName"),
							ck_result: "0",
							ck_time: checkTime,
							ck_status: "2"
							//checkLocation: "checkLocation"
						},
						dataType: "json",
						success: function(msg) {
							console.log(JSON.stringify(msg))
							if(msg.status == "SUCCESS") {
								mui.toast(msg.message);
								setTimeout(function() {
									//										history.go(0)
									window.location.reload();

								}, 2000)

							} else {
								mui.toast(msg.message);
							}
						},
						error: function(msg) {
							mui.toast(msg.message);
						}
					});
				} else {
					mui.toast("请选择设备后再进行点检")
				}
			}

		})
		//		});
	</script>

</html>