*{margin: 0;padding: 0;}
body,html{width: 100%;height: 100%;overflow: hidden;font-size: 14px;}

.content_box{
	width: 100%;
	height: 93%;
	overflow-y: auto;
	position: relative;
}
#header{
	background: #674fbf;
	
}
#header .mui-title{
	color: #fff;
}
#header a.mui-action-back{
	color: #fff;
}
.content_box .modify{
	color: #5798f9;
}
.content_box .top{
	font-size: 13px;
	margin-top: 6px;
	position: relative;
}
.content_box .top img{
	width: 2.24rem;
	height: 22px;
}
.content_box .top span{
	position: absolute;
	left: 0.52rem;
	top: 0;
	color: #fff;
}
.content_box .center{
	width: 6.6rem;
	border: 1px solid #ccc;
	border-right: 0;
	height: 10.4rem;
	margin-left: 0.3rem;
	font-size: 12px;
	overflow-y: auto;
	overflow-x: hidden;
}
.mui-content{
	background: #fff;
	min-height: 400px;
}
.content_box .center .Ctop{
	width: 6rem;
	margin-left: 0.3rem;
	min-height: 133px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.content_box .center .con div{
	width: 6rem;
	margin-top: 0.2rem;
	position: relative;
	height: 12px;
}
.content_box .center .Ccenter div{
	margin-left: 0.35rem;
}
.content_box .center .Cbottom div{
	margin-left: 0.8rem;
}
.content_box .center .con div.last{
	width: 100%;
}
.content_box .center .con div input{
	width: 50%;
	height: 18px;
	margin: 0;
	padding: 0;
	font-size: 12px;
	float: left;
	border: thin solid #5798f9;
	border-radius: 0;
}
.content_box .center .con div span{
	display: inline-block;
	height: 100%;
	line-height: 12px;
	float: left;
}
.content_box .center .con div img{
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 12px;
	float: left;
}
.content_box .center .con div .name{
	padding-left: 0.34rem;
}

.content_box .center .Ccenter{
	width: 6rem;
	margin-left: 0.3rem;
	min-height: 192px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	
}
.content_box .center .Cbottom{
	width: 6rem;
	margin-left: 0.3rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
#nest,#finish{
	display: block;
	width: 6.6rem;
	height: 35px;
	margin-left: 0.3rem;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border-radius: 20px;
	background: #524598;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: fixed;
	bottom: 0;
	
}

#finishBtn{
	background-color: #524598;
	color: white;
}

/*卡信息激活2CSS*/
.searchBox{
	height: 54px;
	background:  #674fbf;
	overflow: hidden;
	margin-top: 45px;
}
.searchBox .box{
	width: 6.56rem;
	margin: 10px 0 0 0.33rem;
	height: 34px;
	background: #fff;
}
.searchBox #searchInput{
	height: 34px;
	width: 5.64rem;
	font-size: 12px;
	color: #999;
	float: left;
	border: 0;
}
.searchBox #get{
	display: block;
	float: left;
	width: 0.92rem;
	height: 17px;
	text-align: center;
	line-height: 17px;
	color: #333;
	margin-top: 9px;
	border-left: 1px solid #ccc;
}

.content_box div.main{
	border-right: 1px solid #ccc;
	height: 8.4rem;
	padding-left: 0.2rem;
	padding-bottom: 10px;
	overflow-y: auto;
}
.content_box #equipment_zhoucheng{
	width: 3.2rem;
}
.content_box .main div a{
	float: left;
	text-decoration: underline;
	color: #524598;
	height: 12px;
	line-height: 12px;
}

.checkLabel
{
	width: 40%;
	margin-left: 5%;
	font-size: 14px;
	color: #5798f9;
}
