*{margin: 0;padding: 0;}
body,html{width: 100%;height: 100%;overflow: hidden;background: #fff;}

#header{
	background: #674fbf;
	
}
#header .mui-title{
	color: #fff;
}
#header a.mui-action-back{
	color: #fff;
}

#resetPwd_form{
	background: #fff;
}
#resetPwd_form .mui-input-group:before{
	height: 0;
}
#resetPwd_form .mui-input-group{
	width: 5.8rem;
	margin-left: 0.8rem;
	font-size: 14px;
	color: #808080;
	position: relative;
}
#resetPwd_form .mui-input-group div.mui-input-row{
	height: 35px;
}
#resetPwd_form .mui-input-group input{
	font-size: 14px;
	padding-left: 5px;
	padding-top: 12px;
	color: #333;
}
#resetPwd_form div img{
	width: 18px;
	height: 19px;
	position: absolute;
	left: -18px;
	top: 12px;
}

#getCode2{
	position: absolute;
	top:5px;
	right: 0;
	height: 30px;
	border: 0;
	font-size: 12px;
	color: #524598;
	display: block;
	line-height: 30px;
	text-align: center;
}
#resetPwd_form .mui-input-group .mui-input-row span{
	font-size: 15px;
	top: 15px;
}
#resetPwd_form .mui-input-group div.codeBox span{
	right: 70px;
}
#submit_btn{
	display: block;
	width: 6rem;
	height: 40px;
	background: #524598;
	color: #fff;
	outline: none;
	margin-top: 25px;
	margin-left: 0.6rem;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	font-size: 15px;
}
div.mui-toast-container{
	top: 4.3rem;
	width: 70%;
}
div.mui-toast-container .mui-toast-message{
	background: #000;
	height: 45px;
	opacity: 0.9;
	line-height: 25px;
	filter:alpha(opacity=90);
}