<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设备列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/Home.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="css/MyReport.css" />
		<link rel="stylesheet" type="text/css" href="css/pagination.css" media="screen">
		<link rel="stylesheet" type="text/css" href="css/Config.css" />


		<link rel="stylesheet" href="css/simplePaging.css">
		<link rel="stylesheet" type="text/css" href="css/pagination.css" />

		<style>
			html,
			body {
				background-color: #efeff4;
				height: 100%;
				margin: 0px;
				padding: 0px;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			
			.mui-content {
				height: 100%;
				overflow: auto;
			}
			
			#search {
				background-color: white;
			}
			
			#tanchucaidan {
				background-color: white;
				width: 95%;
				height: 380px;
			}
			
			.head-img {
				width: 40px;
				height: 40px;
			}
			
			.M-box11 {
				margin-top: 20px;
				margin-left: 10px;
				/*margin-right: 10px;*/
				margin-bottom: 10px;
			}
			
			.mui-ellipsis {
				color: gray;
				font-size: 14px;
			}
		</style>

	</head>

	<body>

		<div id="tanchucaidan" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div style="height: 300px;">
				<div style="height: 300px;" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="tanchuForm" class="mui-table-view">
							<div v-for="mesNewCom in tanMessage">
								<li class="mui-table-view-divider mui-indexed-list-group" style="font-weight: 400;color: green;">{{mesNewCom.company_name}}</li>
								<div>
									<li class="mui-table-view-cell mui-indexed-list-item mui-checkbox mui-left" v-for="subNewMes in mesNewCom.region_list">
										<input v-bind:id="subNewMes.id" v-on:change="inputChange(subNewMes.id,subNewMes)" type="checkbox" /><span
										 style="color: #838B8B;">{{subNewMes.region_name}}</span>
									</li>
								</div>
							</div>
						</ul>

					</div>

				</div>
			</div>
			<br />
			<button id="regionButton" style="border-radius: 5px;width: 50%;margin-left: 25%;background-color: mediumpurple;color: white;height: 40px;">确定</button>
			<!--<p style="width: 100%;height: 25px;"></p>-->
			<br />
		</div>

		<header class="mui-bar mui-bar-nav" id="head" style="background-color: #524598;position: absolute; ">
			<a id="scanCodeClicked" style="" class="mui-icon iconfont icon-tubiaozhizuomoban mui-pull-left"></a>
			<a id="headerRight" style="margin-top: -5px;" href="#tanchucaidan" class="mui-icon iconfont icon-shaixuan2 mui-pull-right"></a>
			<h1 class="mui-title ">设备列表</h1>
			<div id="headerSearch" class="mui-indexed-list-search mui-input-row mui-search" style="width: 60%;float: left;margin-top: 0px;">
				<!--<i id="scanCodeClicked" style="position: absolute;z-index: 5;right: 0;margin-top: -2px;" class="mui-icon iconfont icon-tubiaozhizuomoban "></i>-->
				<input type="search" style="font-size: 12px;" id="search" placeholder="设备编号/设备名称">
			</div>

			<button class="mui-button-row" id="headerSelected" style="float: right; margin-top: 7px;margin-left: 15px;height: 30px;">设备编号
				▼</button>

		</header>

		<div class="mui-content">
			<div id="content" style="display: none;margin-top: -45px;">
				<ul class="mui-table-view" style="background-color: white;">
					<li class="mui-table-view-cell mui-media" v-for="mesItem in message">
						<!--左滑-->
						<div class="mui-slider-right mui-disabled">
							<a v-on:click="sliderBtnClicked($event,'CK',mesItem)" class="mui-btn mui-btn-grey">点检</a>
							<a v-on:click="sliderBtnClicked($event,'ZD',mesItem)" class="mui-btn mui-btn-yellow ">远程诊断</a>
						</div>
						<!--右滑-->
						<div class="mui-slider-left mui-disabled">
							<a v-on:click="open_detail(mesItem)" class="mui-btn mui-btn-royal">详情</a>
						</div>
						<div class="mui-slider-handle" v-on:click="openDeviceCharts(mesItem)">
							<a>
								<div v-on:click="open_detail(mesItem)" v-if="typeof(mesItem.photo_url) == 'undefined'">
									<img class="mui-media-object mui-pull-left" src="img/default.png">
								</div>
								<div v-on:click="open_detail(mesItem)" v-if="typeof(mesItem.photo_url) != 'undefined'">
									<img class="mui-media-object mui-pull-left" :src="mesItem.photo_url">
								</div>
								<div class="mui-media-body">
									<div class="mui-ellipsis-2">
										<span style="color: gray;float: left;width: 90%;">{{mesItem.devices_name}}：{{mesItem.devices_no}}
											<div v-if="typeof(mesItem.serial_no) != 'undefined'">
												<a class="mui-icon iconfont icon-dunpai-s" style="color:green;float: right;margin-top: -20px;"></a>
											</div>
										</span>

									</div>
									<div v-if="typeof(mesItem.threshold) != 'undefined' && mesItem.threshold != 'N'">
										<div class="mui-ellipsis" style="margin-top: 10px;">
											<p style="float: left;">阈值状态：</p>
											<!--<p>无</p>-->
											<div v-if="typeof(mesItem.threshold) != 'undefined'">
												<div v-if="mesItem.threshold == 'A'">
													<p style="background-color: #00CD00;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;">正常</p>
												</div>
												<div v-if="mesItem.threshold == 'B'">
													<p style="background-color: #EEEE00;color: gray;width: 80px;float: left;text-align: center;padding-top: 2px;">预警</p>
												</div>
												<div v-if="mesItem.threshold == 'C'">
													<p style="background-color: orange;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;">报警</p>
												</div>
												<div v-if="mesItem.threshold == 'D'">
													<p style="background-color: red;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;">严重</p>
												</div>
											</div>
											<div v-if="typeof(mesItem.threshold) == 'undefined'">
												<p style="background-color: #00CD00;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;">正常</p>
											</div>
										</div>
									</div>

									<div style="clear: both;"></div>
									<div class="mui-ellipsis" style="margin-top: 10px;">
										<p style="float: left;" @click.stop="console.log(mesItem.ck_result_manual)">设备状态：</p>
										<div v-if="typeof(mesItem.ck_result_manual) != 'undefined'">
											<div v-if="mesItem.ck_result_manual == '0'">
												<p style="float: left;color: gray;">未监测</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '1'">
												<p style="background-color: #00CD00;color: white;float: left;text-align: center;padding: 2px 5px;border-radius: 5px;">正常</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '2'">
												<p style="background-color: #EEEE00;color: gray;float: left;text-align: center;padding: 2px 5px;border-radius: 5px;">
													{{mesItem.lableString}}
												</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '3'">
												<p style="background-color: orange;color: white;float: left;text-align: center;padding: 2px 5px;border-radius: 5px;">
													{{mesItem.lableString}}
												</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '4'">
												<p style="background-color: red;color: white;float: left;text-align: center;padding: 2px 5px;border-radius: 5px;">
													{{mesItem.lableString}}
												</p>
											</div>
										</div>
										<div v-if="typeof(mesItem.ck_result_manual) == 'undefined'">
											<p style="color: gray;float: left;">未监测</p>
										</div>
										
										<!-- <div v-if="typeof(mesItem.ck_result_manual) != 'undefined'">
											<div v-if="mesItem.ck_result_manual == '0'">
												<p style="float: left;color: gray;">未监测</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '1'">
												<p style="background-color: #00CD00;color: white;width: 50px;float: left;text-align: center;padding-top: 2px;">正常</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '2'">
												<p style="background-color: #EEEE00;color: gray;width: 50px;float: left;text-align: center;padding-top: 2px;">预警</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '3'">
												<p style="background-color: orange;color: white;width: 50px;float: left;text-align: center;padding-top: 2px;">报警</p>
											</div>
											<div v-if="mesItem.ck_result_manual == '4'">
												<p style="background-color: red;color: white;width: 50px;float: left;text-align: center;padding-top: 2px;">严重</p>
											</div>
										</div>
										<div v-if="typeof(mesItem.ck_result_manual) == 'undefined'">
											<p style="color: gray;float: left;">未监测</p>
										</div> -->

										<!-- <template v-if="typeof(mesItem.threshold_on_off) != 'undefined' && mesItem.threshold_on_off == 'Y' ">
											<template v-if="typeof(mesItem.threshold_status) != 'undefined' ">
												<template v-if="mesItem.threshold_status.substr(0,1) === 'T' ">
													<template v-if="mesItem.threshold_status.substr(2,1) === '2' ">
														<p style="background-color: #EEEE00;color: gray;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">温度预警</p>
													</template>
													<template v-if="mesItem.threshold_status.substr(2,1) === '3' ">
														<p style="background-color: orange;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">温度告警</p>
													</template>
													<template v-if="mesItem.threshold_status.substr(2,1) === '4' ">
														<p style="background-color: red;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">温度危险</p>
													</template>
												</template>
												<template v-if="mesItem.threshold_status.substr(0,1) !== 'T' ">
													<template v-if="mesItem.threshold_status.substr(2,1) === '2' ">
														<p style="background-color: #EEEE00;color: gray;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">{{mesItem.threshold_status.substr(0,1)}}轴预警</p>
													</template>
													<template v-if="mesItem.threshold_status.substr(2,1) === '3' ">
														<p style="background-color: orange;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">{{mesItem.threshold_status.substr(0,1)}}轴告警</p>
													</template>
													<template v-if="mesItem.threshold_status.substr(2,1) === '4' ">
														<p style="background-color: red;color: white;width: 80px;float: left;text-align: center;padding-top: 2px;margin-left: 5px;">{{mesItem.threshold_status.substr(0,1)}}轴危险</p>
													</template>
												</template>
												
											</template>
										</template> -->

									</div>
									<div class="mui-ellipsis" style="margin-top: 10px;">
										<span class="iconfont icon-shoushizuoyouhuadong" style="float: right;color: #CFCFCF;font-size: 24px;"></span>
									</div>
									<!--<div class="mui-ellipsis" style="height: 30px;">阈值状态：<span style="background-color: red;color: white;width: 150px;">正常</span></div>-->
									<!--<div class="mui-ellipsis">人工诊断：{{mesItem.devices_no}}</div>-->
								</div>
							</a>

						</div>
					</li>
				</ul>
				<div style="height: 50px;margin-top: 10px;text-align: center;">
					<div id="pagination_9" style="width: 100%;height: 30px;margin-top: 10px;"></div>
				</div>
				<br />
			</div>
			<div id="nullDataPage" style="width:100%;height:600px;text-align:center;padding-top:200px;color:darkgray;background-color:white;display: none;">##
				没有符合搜索条件的数据... ##</div>

		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/url_all.js"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript"></script>
		<script src="js/highlight.min.js"></script>
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script src="js/jquery.pagination.js"></script>

		<script src="js/newIndexGetCode.js"></script>
		<script src="js/newindexdemo.js"></script>
		<!--<script src="js/newIndexLogin.js"></script>-->
		<script type="text/javascript" src="js/pagination.min.js"></script>

		<script type="text/javascript">
			mui('.mui-scroll-wrapper').scroll();
		</script>

	</body>

</html>
